body{
   margin: 0 ;
   font-family: "Roboto", sans-serif;
}
hr{
   background-color: #B2D3C2 !important;
}

/* Navigation Bar*/
.navbar-brand{
   left: 0px !important;
}
.navbar{
   height: 77px;
   background-color: #234F1E;
   margin: 0;
}
.nav-link{
   color:white !important;
   text-decoration: none;
}
.nav-link:hover{
   text-decoration: underline !important;
   background-color: #B2D3C2;
   color: black !important;
}
.dropdown-item:hover{
   text-decoration: underline !important;
   background-color: #B2D3C2 !important;
   color: black !important;
}

/*Index*/
.peas-image{
   position: relative;
   text-align: center;
   color: white;
   background-color: #98BF64;
}
.display-1 {
   font-weight: normal !important;
   font-size: 130px !important;
   width: 1400px;
   color: #FFFFFF;
   position: absolute;
   top: 35%;
   transform: translate(-50%, -50%);
   left: 50%;
   text-shadow: -3px -3px 0 #234f1E, 3px -3px 0 #234f1E, -3px 3px 0 #234f1E, 3px 3px 0 #234f1E;
 }
 .display-3{
   font-size: 50px !important;
   position: absolute;
   top: 75%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

/*Lab Grown, Plant Based, Fermented*/
 .carousel-inner{
   max-width: 100%;
   height: 100%;
}
 .carousel-item {
   transition: -webkit-transform 0.5s ease;
   transition: transform 0.5s ease;
   transition: transform 0.5s ease, -webkit-transform 0.5s ease;
   -webkit-backface-visibility: visible;
   backface-visibility: visible;
 }
 .carousel-caption{
   top: 100px;
   color: #234F1E !important;
   text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
 }
 .jumbotron{
   background-color: #B2D3C2 !important;
}
.display-4{
   color: #234F1E;
   font-size: 60px !important;
}

/* Career Guide*/
.career-jumbotron{
   background-color: #234F1E !important;
}
.yourcareer{
   color: #FFFFFF;
   font-weight: bold !important;
}
.career-buttons{
   color: #FFFFFF;
   font-size: 36px;
   background-color: #98BF64 !important;
   height: 130px;
   width: 340px;
   border-radius: 103.5px; 
   border: none;
}

/* Science (Linked from Career Guide*/
career-captions{
   font-size: 200px !important;
}
.biology-dropdown{
   color: blue !important;
}


 /* previous css - valid, but reorganize*/


/* THE ALTERNATIVE PROTEIN PROJECT. */


h2{
   /* Eat towards a sustainable future, Discover your career. */
   position: absolute;
   width: 802px;
   height: 199;
   left: 375px;
   top: 473px;

   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 48px;
   line-height: 56px;
   display: flex;
   align-items: center;
   text-align: center;

   color: #FFFFFF;
}

.Get-Started{
   position: absolute;
   width: 369px;
   height: 89px;
   left: 45%;
   top: 672px;
   
   background: #B2D3C2;
   border-radius: 44.5px;
   border: none;

   text-align: center;
   font-size: 40px;
   color: #FFFFFF;
   font-weight: bold;
}

.Content-Page-1{
   position: absolute;
   left: 0px;
  
   background: #B2D3C2;
   width: 100%;
   height: 1794px;
   top: 878px;
   
}


p1{
   position: absolute;
   width: 1337px;
   height: 128px;
   left: 24px;
   top: 17px;

   font-family: "Roboto", sans-serif ;
   font-style: normal;
   font-weight: 900;
   font-size: 64px;
   line-height: 75px;
   display: flex;
   align-items: center;
   text-align: center;

   color: #FFFFFF;
}

.Body-1{
   position: absolute;
   width: 1408px;
   height: 1443px;
   left: 0px;
   top: 207px;

   background: #FFFFFF;
}

.Body-1-Section-1{
   position: absolute;
   width: 1374px;
   height: 439px;
   left: 0px;
   top: 41px;
   background: rgba(178, 211, 194, 0.2);
}

.Body-1-Section-1-Title{
   position: absolute;
   width: 500px;
   height: 70px;
   left: 0px;
   top: 0px;
   background: #234F1E;
}

.ewb_image {
   position: absolute;
   right: 60px;
   top: 150px;
}

p2{
   position: absolute;
   width: 500px;
   height: 37px;
   left: 16px;
   top: 16px;
   font-family: “Roboto”, sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #FFFFFF;
}

p3{
   position: absolute;
   width: 975px;
   height: 371px;
   left: 38px;
   top: 68px;
   font-family: “Roboto”, sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   display: flex;
   align-items: center;
   text-align: justify;
   color: #000000;
}

.Body-1-Section-2{
   position: absolute;
   width: 1374px;
   height: 439px;
   left: 34px;
   top: 529px;

   background: rgba(178, 211, 194, 0.2);
}

.Body-1-Section-2-Title{
   position: absolute;
   width: 490px;
   height: 70px;
   left: 884px;
   top: 3px;
   
   background: #234F1E;
}
p4{
   position: absolute;
   width: 500px;
   height: 37px;
   left: 16px;
   top: 16px;
   font-family: “Roboto”, sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #FFFFFF;
}

p5{
   position: absolute;
   width: 976px;
   height: 340px;
   left: 364px;
   top: 73px;

   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   display: flex;
   align-items: center;
   text-align: justify;

   color: #000000;
}

.Body-1-Section-3{
   position: absolute;
   width: 1374px;
   height: 356px;
   left: 0px;
   top: 1017px;

   background: rgba(178, 211, 194, 0.2);
}

.Body-1-Section-3-Title{
   position: absolute;
   width: 515px;
   height: 66px;
   left: 0px;
   top: 0px;

   background: #234F1E;
}
p6{
   position: absolute;
   width: 515px;
   height: 64px;
   left: 16px;
   top: 1px;

   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
   display: flex;
   align-items: center;
   text-align: center;

   color: #FFFFFF;
}

p7{
   position: absolute;
   width: 976px;
   height: 291px;
   left: 44px;
   top: 65px;

   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   display: flex;
   align-items: center;
   text-align: justify;

   color: #000000;
}

.What-Alt-Pro
{
   position: absolute;
   width: 508px;
   height: 99px;
   left: 900px;
   top: 1672px;

   background: #98BF64;
   border-radius: 49.5px;
   border: none;

   text-align: center;
   font-size: 30px;
   color: #FFFFFF;
   font-weight: bold;

   color: #FFFFFF;
}
p8{
   position: absolute;
   width: 330px;
   height: 49px;
   left: 131px;
   top: 33px;

   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 48px;
   line-height: 56px;
   display: flex;
   align-items: center;
   text-align: center;

   color: #FFFFFF;
}

/* Styling for Content Page 2*/
.Content-Page-2{
   width: 1440px;
   height: 1575px;
   background-color: #B2D3C2;

}
.Title-2{
   position: absolute;
   width: 1440px;
   height: 296px;
   left: 0px;
   top: 87px;
   
   background: #234F1E;
}
p9{
   position: absolute;
   width: 1176px;
   height: 65px;
   left: 127px;
   top: 125px;

   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 64px;
   line-height: 75px;
   display: flex;
   align-items: center;
   text-align: center;

   color: #FFFFFF;
}

.CP2-Intro{
   position: absolute;
   width: 1369px;
   height: 191px;
   left: 35px;
   top: 448px;
   
   background: #FFFFFF;
}
p10{
   position: absolute;
   width: 1306px;
   height: 126px;
   left: 32px;
   top: 37px;
   font-family: "Roboto", sans-serif;
   font-size: 36px;
   text-align: center;
}

.Plant-Based{
   position: absolute;
   width: 450px;
   height: 546px;
   left: 8px;
   top: 704px;
   
   background: #98BF64;
}



.Lab-Grown{
   position: absolute;
   width: 450px;
   height: 546px;
   left: 495px;
   top: 704px;

   background: #98BF64;
}

.Fermented{
   position: absolute;
   width: 450px;
   height: 546px;
   left: 982px;
   top: 704px;

   background: #98BF64;
}

/* styling for Plant Based Page*/
.Plant-Based-Page{
   position: relative;
   width: 1440px;
   height: 1353px;
   background: #B2D3C2;
}

.Plant-Based-Title-Container{
   position: absolute;
   width: 581px;
   height: 458px;
   left: 0px;
   top: 0px;
   background: #234F1E;
}

.Plant-Based-Title{
   position: absolute;
   width: 317px;
   height: 324px;
   left: 131px;
   top: 67px;

   font-family: "Roboto", sans-serif;
   font-weight: bold;
   font-size: 96px;
   line-height: 112px;
   color: #FFFFFF;
}

.Plant-Based-Content{
   position: absolute;
   width: 1379px;
   height: 611px;
   left: 0px;
   top: 500px;
   background: #FFFFFF;
}

.Plant-Based-Intro-Container{
   position: absolute;
   width: 1330px;
   height: 192px;
   left: 0px;
   top: 50px;

   background: rgba(178, 211, 194, 0.2);
}

.Plant-Based-Intro{
   position: absolute;
   width: 1243px;
   height: 134px;
   left: 37px;
   top: 45px;

   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   color: #000000;
}

.Plant-Based-How-Made-Container{
   position: absolute;
   width: 1318px;
   height: 255px;
   left: 61px;
   top: 300px;
   background: rgba(178, 211, 194, 0.2);
}

.Plant-Based-How-Made-Title-Container{
   position: absolute;
   width: 318px;
   height: 85px;
   left: 0px;
   top: 0px;
   background: #234F1E;
}

.Plant-Based-How-Made-Title{
   position: absolute;
   width: 300px;
   height: 58px;
   left: 20px;
   top: 23px;

   font-family: "Roboto", sans-serif;
   font-weight: bold;
   font-size: 36px;
   color: #FFFFFF;
}

.Plant-Based-How-Made-Info{
   position: absolute;
   width: 1225px;
   height: 153px;
   left: 37px;
   top: 113px;
   font-family: "Roboto", sans-serif;
   font-size: 24px;
   line-height: 28px;
   display: flex;
   color: #000000;
}


/* styling for content page 3 */

.Content-Page-3{
   width: 1440px;
   height: 1230px;
   background-color: #B2D3C2;
}

.Title-3{
   position: absolute;
   width: 1440px;
   height: 219px;
   left: 0px;
   top: 87px;

   background: #234F1E;
}
p11{
   position: absolute;
   width: 1440px;
   height: 136px;
   top: 55px;

   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 80px;
   line-height: 112px;
   text-align: center;
   align-items: center;
   color: #FFFFFF;
}

.field-study-background{
   position: absolute;
   width: 1364px;
   height: 933px;
   left: 0px;
   top: 350px;

   background: #FFFFFF;
}

.field-study-container{
   position: absolute;
   width: 1324px;
   height: 177px;
   left: 0px;
   top: 50px;

   background: rgba(178, 211, 194, 0.2);
}

.field-study-title{
   position: absolute;
   width: 758px;
   height: 84px;
   left: 0px;
   top: 0px;

   background: #234F1E;
}
p12{
   position: absolute;
   top: 20px;
   left: 50px;

   font-family: "Roboto", sans-serif;
   font-weight: bold;
   font-size: 40px;
   line-height: 47px;
   color: #FFFFFF;
}
/*
.career-fields-container{
   position: absolute;
   width: 1309px;
   height: 607px;
   left: 55px;
   top: 280px;

   background: rgba(178, 211, 194, 0.2);
}

.career--title{
   position: absolute;
   width: 356px;
   height: 87px;
   right: 0px;
   top: 0px;

   background: #234F1E;
}
*/
p13{
   position: absolute;
   width: 350px;
   height: 69px;
   right:-12px;
   top: 10px;

   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 40px;
   line-height: 42px;
   display: flex;
   align-items: center;
   text-align: center;

   color: #FFFFFF;
}

/* content page 4 - recipes */

.Content-Page-4{
   position: absolute;
   width: 1440px;
   height: 2000px;
   top: 87px;
   background: #B2D3C2;
}

.lets-eat-container{
   position: absolute;
   width: 645px;
   height: 257px;
   left: 75px;
   top: 154px;
   background: #234F1E; 
}
p14{
   position: absolute;
   width: 600px;
   height: 95px;
   left: 20px;
   top: 20px;
   font-family: "Roboto", sans-serif;   
   font-size: 96px;
   line-height: 112px;
   display: flex;
   color: #FFFFFF;
}
p15{
   position: absolute;
   width: 600px;
   height: 103px;
   left: 26px;
   top: 130px;

   font-family: "Roboto", sans-serif;
   font-size: 36px;
   line-height: 42px;
   display: flex;
   align-items: center;
   color: #FFFFFF;
}

.video-container{
   position: absolute;
   width: 755px;
   height: 378px;
   left: 573px;
   top: 450px;

   background: #B2D3C2;
}

/* test game.html -- delete later or keep hidden 
#game{
   width: 500px;
   height: 200px;
   border: 1px solid black;
}
#character{
   width: 20px;
   height: 50px;
   background-color: red;
   position: relative;
   top: 150px;
}
.animate{
   animation: leap 500ms;
}
@keyframes leap{
   0%{top: 150px;}
   50%{top: 100px;}
   100%{top: 150px;}
}
#block{
   width: 20px;
   height: 20px;
   background-color: blue;
   position: relative;
   top: 130px;
   left: 480px;
   animation: block 1s infinite linear;
}
@keyframes block{
   0%{left: 480px;}
   100%{left: -20px;}
}
*/

/* styling from labgrown folder*/



/* Navigation Bar*/

 
 
 

 /*---Media Queries --*/
 @media (max-width: 1200px) {
   
 }
 @media (max-width: 992px) {
   
 }
 @media (max-width: 768px) {
   
 }
 @media (max-width: 576px) {
  
 }
 
 /*--- Fixed Background Image --*/
 figure {
   position: relative;
   width: 100%;
   height: 60%;
   margin: 0
 }
 .fixed-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }
 
 /*--- Bootstrap Padding Fix --*/
 [class*="col-"] {
     padding: 1rem;
 }
 
 
 /*
 Extra small (xs) devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap
 
 Small (sm) devices (landscape phones, 576px and up)
 @media (min-width: 576px) { ... }
 
 Medium (md) devices (tablets, 768px and up)
 @media (min-width: 768px) { ... }
 
 Large (lg) devices (desktops, 992px and up)
 @media (min-width: 992px) { ... }
 
 Extra (xl) large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) { ... }
 */
 
 
 /* Footer */
 .contact-information{
   background-color: #234F1E;
 }
 .connect{
   color: white;
   font-size: 46px;
   padding-top: 15px;
 }
 .social-icons{
   padding: 25px;
 }
 .by-line{
   background-color: #B2D3C2;
   color: white;
 }
 